.loadMoreBtn {
    font-size: 20px;
    margin-bottom: 100px;
    padding: 20px 40px;
    border: transparent;
    outline: transparent;
    border-radius: 40px;
    transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loadMoreBtn:hover {
    background-color: grey;
}