body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}

body div div {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}